<head>
  <style>
    
  
  </style>
</head>
<div id="footer" style="background-color: black;"
 class="navbar  navbar-inverse navbar-fixed-bottom"> 
    <div class="container">
      <div class="navbar-text">
       <p> ©TrapKingZ.</p>
      </div>
         
    </div>
</div>

</div>
</body>

</hmtl>