<%include _header%>
<head>
    <style>
        img:hover {
            /* Start the shake animation and make the animation last for 0.5 seconds */
            animation: shake 0.5s; 
            /* When the animation is finished, start again */
            animation-iteration-count: infinite; 
        }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}   

.luz.on{
  color: gray;/*color del texto al cambiar*/
  text-shadow:
     1px  1px rgba(255, 255, 255, .1),
    -1px -1px rgba(0, 0, 0, .88),
     0px  0px 20px gray;/*color de la luz del texto*/
}
.luz{
  font-size:36px;/*tamaño de la fuente*/
  color: #000000;
  text-shadow:
     1px  1px rgba(255, 255, 255, .1),
    -1px -1px rgba(0, 0, 0, .88);
}
    </style>
</head>
<header class="header">
        <div class="container">
            
          <div class="row">
            <div style="padding-top: 92px;" class="col-md-5 col-md-offset-1">
                <div class="content">
                  <div class="pull-middle">
                    <h1>See the best </h1>
                    <h1 >trappers of the world!!</h1>
                    <span class="luz" id="blink"><b>Only on TrapKingZ</b></span> 
                    
                            <h1>Click in the Pic for Sign Up!!</h1>
                        
                  </div>              
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                <div class="phone" style="padding-top: 60px;">
                    <a href="/signup">
                        <img id="img" class="img-responsive img-rounded" src="https://s-media-cache-ak0.pinimg.com/originals/be/f3/8f/bef38f376a42c759a23f2d185720d447.png" alt="Trap">
                    </a>
                    
                </div>
            </div>
          </div>
        </div>
    </header>
    <script>
        (function() {

        setInterval(function(){
        var el = document.getElementById('blink');
        if(el.className == 'luz'){
            el.className = 'luz on';
        }else{
            el.className = 'luz';
        }
        },500);
        })();
    </script>

<%include _footer%>