<%include _header%>

    <% if (currentuser){%>
        <div  class="panel panel-info">
            
        <%}%>
            <div style="background-color: #545357" class="panel-heading">
                <h1></h1>
                    <%= usern.name() %>
                </h1>
            </div>
            
            <div style="color: black;" class="panel-body">
                <p>
                    <%= usern.role%>
                </p>
                    
                
            </div>
               
        </div>
  

<%include _footer%>