<% include _header %>
<div>
        <iframe style="    height: 496px;
        width: -webkit-fill-available;" src="https://www.youtube.com/embed/videoseries?list=PLuUrokoVSxlcHkpmmpa-RwKgPQMdbSvlb" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
    
<% include _footer %>